<div class="profile-sidebar text-center">
    {% if session.user %}
        <div class="profile-userpic">
            <img src="{{ URL }}{{ session.user.image }}" class="img-responsive rounded-circle image150px" alt="">
        </div>
        
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <span>{{ session.user.firstname | title }} {{ session.user.surname | title }}</span>
            </div>
            <div class="profile-usertitle-rol">
                <span>{{ session.user.rol }}</span>
            </div>
        </div>

        <ul class="list-unstyled mx-auto my-3 border border-primary rounded">
            <li><a href="{{ URL }}profile">Perfil</a></li>
            <li><a href="{{ URL }}profile/myevents">Mis quejas</a></li>
            <li><a href="{{ URL }}profile/mycomments">Mis comentarios</a></li>
            <li><a href="{{ URL }}profile/mylikesdislikes">Mis likes/dislikes</a></li>
        </ul>
    {% else %}
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <h3><a href="{{ URL }}login">¡Inicia sesión!</a></h3>
            </div>
        </div>
        
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <span>Anonymous</span>
            </div>
            <div class="profile-usertitle-rol">
                <span>Viewer</span>
            </div>
        </div>
    {% endif %}
</div>